<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AlbumArtDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <AlbumArtDownloader.Properties.Settings>
            <setting name="PreviewSavedArt" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowConsole" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ThumbnailWidth" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="ThumbnailHeight" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainPosX" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainPosY" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainPosW" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="MainPosH" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CloseAfterSaving" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MultiThread" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ThreadCount" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ShowQueue" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveFileName" serializeAs="String">
                <value>folder.jpg</value>
            </setting>
            <setting name="QueueCols" serializeAs="String">
                <value>85;85;50</value>
            </setting>
            <setting name="ExactMatchBold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScriptInfo" serializeAs="String">
                <value/>
            </setting>
            <setting name="SplitPos" serializeAs="String">
                <value>170</value>
            </setting>
            <setting name="UseOrigFormat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveFormat" serializeAs="String">
                <value>jpg</value>
            </setting>
            <setting name="BrowserColsCOM" serializeAs="String">
                <value>85;85;50</value>
            </setting>
            <setting name="BrowserColsPath" serializeAs="String">
                <value>85;85;50</value>
            </setting>
            <setting name="ShowBrowser" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BrowseSplitPos" serializeAs="String">
                <value>445</value>
            </setting>
            <setting name="ThumbnailSaveWidth" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="ThumbnailSaveHeight" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="SaveResize" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="JpegQuality" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="Bitmap32Bit" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SelectedBrowserTab" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowSizeOverlay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowFolderPictures" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoDownloadFullImage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScriptOrder" serializeAs="String">
                <value/>
            </setting>
            <setting name="ScriptEnabled" serializeAs="String">
                <value/>
            </setting>
            <setting name="SizeOverlayColorForeground" serializeAs="String">
                <value>000000</value>
            </setting>
            <setting name="ShowFolderPicturesRecursiv" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveButtons" serializeAs="String">
                <value>Save As...</value>
            </setting>
            <setting name="ShowSaveToolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MaxResults" serializeAs="String">
                <value>20</value>
            </setting>
        </AlbumArtDownloader.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
