<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="AlbumArtDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<system.net>
		<settings>
			<httpWebRequest useUnsafeHeaderParsing="true" />
		</settings>
	</system.net>
	<userSettings>
		<AlbumArtDownloader.Properties.Settings>
   <setting name="PanelWidth" serializeAs="String">
    <value>-1</value>
   </setting>
   <setting name="ThumbSize" serializeAs="String">
    <value>77</value>
   </setting>
   <setting name="DefaultSavePath" serializeAs="String">
    <value>%default%</value>
   </setting>
   <setting name="ResultsSorting" serializeAs="Xml">
    <value>
     <SortDescription xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <PropertyName>ResultName</PropertyName>
      <Direction>Ascending</Direction>
     </SortDescription>
    </value>
   </setting>
   <setting name="OpenResultsInNewWindow" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="MinimumImageSize" serializeAs="String">
    <value>10</value>
   </setting>
   <setting name="DefaultSavePathHistory" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
    </value>
   </setting>
   <setting name="InformationLocation" serializeAs="String">
    <value>Right</value>
   </setting>
   <setting name="MaximumImageSize" serializeAs="String">
    <value>900</value>
   </setting>
   <setting name="AutoDownloadFullSizeImages" serializeAs="String">
    <value>Never</value>
   </setting>
   <setting name="UseMinimumImageSize" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UseMaximumImageSize" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AutoClose" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ApplicationVersion" serializeAs="String">
    <value />
   </setting>
   <setting name="FileBrowseRoot" serializeAs="String">
    <value>%default%</value>
   </setting>
   <setting name="FileBrowseSubfolders" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="FileBrowseImagePath" serializeAs="String">
    <value>Folder%preset%.%extension%|Cover%preset%.%extension%</value>
   </setting>
   <setting name="FileBrowseImagePathHistory" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
    </value>
   </setting>
   <setting name="NumberOfWindowsForQueue" serializeAs="String">
    <value>3</value>
   </setting>
   <setting name="EnqueueWarning" serializeAs="String">
    <value>50</value>
   </setting>
   <setting name="FileBrowseUsePathPattern" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FileBrowsePathPattern" serializeAs="String">
    <value>\%artist%\%album%\*</value>
   </setting>
   <setting name="ResultsGrouping" serializeAs="String">
    <value>None</value>
   </setting>
   <setting name="FileBrowseFilePathPatternHistory" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
    </value>
   </setting>
   <setting name="DonationsMenuItemVisibility" serializeAs="String">
    <value>Visible</value>
   </setting>
   <setting name="IgnoreSP1Missing" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="UpdatesURI" serializeAs="String">
    <value>http://album-art.sourceforge.net/Updates.xml</value>
   </setting>
   <setting name="AutoUpdateCheckInterval" serializeAs="String">
    <value>1.00:00:00</value>
   </setting>
   <setting name="LastUpdateCheck" serializeAs="String">
    <value>2009-05-09</value>
   </setting>
   <setting name="AutoUpdateEnabled" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="AutoDownloadAllScripts" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="NewScriptsAvailable" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="ShowPixelsWhenZoomed" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="FileBrowseAutoDownload" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="AllowedCoverTypes" serializeAs="String">
    <value>Any</value>
   </setting>
   <setting name="ShowAutoDownloadWarning" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="UseSystemCodepageForID3Tags" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="OverwriteSuggestionHistory" serializeAs="Xml">
    <value>
     <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:xsd="http://www.w3.org/2001/XMLSchema" />
    </value>
   </setting>
   <setting name="OverwriteSuggestion" serializeAs="String">
    <value>%filename% (%n2%).%extension%</value>
   </setting>
   <setting name="DisableFilters" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="NoAutoReSort" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="InvalidReplacementCharacter" serializeAs="String">
    <value>-</value>
   </setting>
  </AlbumArtDownloader.Properties.Settings>
    </userSettings>
</configuration>