<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace autoflush="true">
      <listeners>
        <add name="debugListener"
                 type="System.Diagnostics.TextWriterTraceListener"
                 initializeData="tracelog.txt" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>