<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="iTSfv.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information" />
        </switches>
        <sharedListeners>
            <add name="FileLog"
                 type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL"
                 initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
    <userSettings>
        <iTSfv.My.MySettings>
            <setting name="MusicFolderPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowEToC" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="iTScomplianceRate" serializeAs="String">
                <value>95</value>
            </setting>
            <setting name="MusicAudioOnly" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IncludePodcasts" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FolderPathImArtwork" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultImArtworkFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ArtworkFileNamePattern1" serializeAs="String">
                <value>%Artist% - %Album%.jpg</value>
            </setting>
            <setting name="ArtworkFileNamePattern2" serializeAs="String">
                <value />
            </setting>
            <setting name="ArtworkFileNamePattern3" serializeAs="String">
                <value />
            </setting>
            <setting name="ArtworkFileNamePattern4" serializeAs="String">
                <value />
            </setting>
            <setting name="ArtworkFileNamePattern5" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderJpgMinSize" serializeAs="String">
                <value>16384</value>
            </setting>
            <setting name="LastCheckedTrackID" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LastTrackReportPath" serializeAs="String">
                <value />
            </setting>
            <setting name="FolderPathExArtwork" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultExArtworkFolder" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ArtworkFileNamePatternIm" serializeAs="String">
                <value />
            </setting>
            <setting name="ArtworkFileNamePatternEx" serializeAs="String">
                <value />
            </setting>
            <setting name="ArtworkFileName1" serializeAs="String">
                <value>Folder.jpg</value>
            </setting>
            <setting name="ArtworkFileName2" serializeAs="String">
                <value>Artwork.jpg</value>
            </setting>
            <setting name="ArtworkFileName3" serializeAs="String">
                <value>Cover.jpg</value>
            </setting>
            <setting name="ArtworkFileName4" serializeAs="String">
                <value>%Album%.jpg</value>
            </setting>
            <setting name="ArtworkFileName5" serializeAs="String">
                <value />
            </setting>
            <setting name="ArtworkFileNameIm" serializeAs="String">
                <value>Artwork.jpg</value>
            </setting>
            <setting name="ArtworkFileNameEx" serializeAs="String">
                <value>Folder.jpg</value>
            </setting>
        </iTSfv.My.MySettings>
    </userSettings>
</configuration>
