<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings">
			<section name="AlbumArtDownloader.Properties.Settings" type="System.Configuration.ClientSettingsSection" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<AlbumArtDownloader.Properties.Settings>
			<setting name="ProxyCredentials" serializeAs="Xml">
				<value>
					<NetworkCredential>
						<UserName>*** username goes here ***</UserName>
						<Password>*** password goes here ***</Password>
						<Domain>*** domain goes here (optional - remove entire element if not required) ***</Domain>
					</NetworkCredential>
				</value>
			</setting>
		</AlbumArtDownloader.Properties.Settings>
	</userSettings>
	<system.net>
		<defaultProxy>
			<proxy proxyaddress="*** proxy address goes here ***"/>
		</defaultProxy>
	</system.net>
</configuration>